:root {
    --blue: #05386B;
    --dark-green: #379683;
    --green: #5CDB95;
    --light-green: #8EE4AF;
    --white: #EDF5E1;
  }

.App {
    background-color: var(--green);
    height: 100vh;
    width: 100vw;
    .page-container {
        width: 100%;
        height: 100%;
    }
    .title {
        height: 100px;
        text-align: center;
        font-size: 50px;
        font-family: 'Memory', 'Times New Roman';
        color: var(--white);
    }
}