:root {
    --blue: #05386B;
    --dark-green: #379683;
    --green: #5CDB95;
    --light-green: #8EE4AF;
    --white: #EDF5E1;
}

@font-face {
    font-family: "Memory";
    src: local("Memory"),
     url("./fonts/Memory.ttf") format("truetype");
}

body {
    margin: 0px;
    background-color: var(--green);
}

button {
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
    background-color: transparent;
    color: var(--blue);
    font-family: 'Memory', 'Times New Roman';
    font-size: 28px;
    border: 0;
}

button:hover {
    text-decoration: underline;
}