.nav-bar {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-evenly;

    .links-container {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        .link {
            font-family: 'Preview', 'Times New Roman';
            font-size: 28px;
            text-decoration: unset;
            color: var(--blue);
        }
        .link:last-child {
            margin-right: 0px;
        }
        .link:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 600px) {
    .links-container {
        flex-direction: column;
    }
}